* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

.logo {
  width: 7%;
}

.logo-img {
  width: 100%;
}

.header-section {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: #3f1700;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
}
